/*----------------------------------------
/*----------------------------------------
    Login Page
------------------------------------------*/
.login-bg {
        background: -webkit-linear-gradient(to right,#0E5D98 0,#002F6C 100%);
        background: linear-gradient(to right, #0E5D98 0,#002F6C 100%);
}
.login-pattern{
    background-image: url(/images/login_pattern.svg);
    position: fixed;
    background-position: center;
    background-repeat: repeat;
    background-position: 50% -122.1px;
    top: 0;
    bottom: 0;
    opacity: .08;
    left: 0;
    right: 0;
}
#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#login-page .card-panel.border-radius-6.login-card {
  margin-left: 0 !important;
}
#login-page input:-webkit-autofill,
#login-page input:-webkit-autofill:hover,
#login-page input:-webkit-autofill:focus,
#login-page input:-webkit-autofill:active,
#register-page input:-webkit-autofill,
#register-page input:-webkit-autofill:hover,
#register-page input:-webkit-autofill:focus,
#register-page input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

#login-page .tp-small-size{
    font-size: 11px;
    margin: -15px 0 20px 0;
}
.newm-dps{
    width: 100%;
    margin: auto;
    padding-top: 75px;
    text-align: center;
    position: relative;
}
.faq-icons{
    margin-right: 12px;
}
.lg-btm-icon{
    margin-right: 8px;
    width: 26px;

}
.login-btm-icons{
    display: inline-flex;
    align-items: center;
}
.faq_modal p strong{
    font-weight: 800;
}
.faq_modal{
    overflow-y: hidden;
}
.faq_modal .sub_models{
padding-bottom: 50px;
padding-right: 6px;
}
.faq_modal .slimScrollDiv{
    margin-right: -20px;
}
.apj-reg-btn {
    width: 66%;
}
.slimScrollDiv::-webkit-scrollbar {
	/* -webkit-border-radius: 100px; */
	background-color: rgba(0, 0, 0, 0);
	width: 9px;
}

.slimScrollDiv::-webkit-scrollbar-thumb {
	/* -webkit-border-radius: 100px; */
	background: rgba(7, 46, 76, 0.8);
}

.slimScrollDiv::-webkit-scrollbar-thumb:hover {
	/* -webkit-border-radius: 100px; */
	background: rgba(7, 46, 76, 0.9);
}

.slimScrollDiv::-webkit-scrollbar-thumb:active {
	/* -webkit-border-radius: 4px; */
	background: rgba(7, 46, 76, 1);
}
.login-innerpage .forgot-pasw-text{
    position: relative;
    z-index: 9999;
    display: block;
}
textarea.materialize-textarea.message-text-area {
    box-sizing: unset;
}
@media only screen and (min-width: 992px){
.faq_modal{
        top: 15% !important;
    }
    .modal.faq_modal,.modal.needhelp_modal {
        width: 50%;
    }
}
