/*----------------------------------------
    register Page
------------------------------------------*/
.register-bg {
    background: -webkit-linear-gradient(to right,#0E5D98 0,#002F6C 100%);
    background: linear-gradient(to right, #0E5D98 0,#002F6C 100%);
  }
.login-pattern{
      background-image: url(/images/login_pattern.svg);
      position: fixed;
      background-position: center;
      background-repeat: repeat;
      background-position: 50% -122.1px;
      top: 0;
      bottom: 0;
      opacity: .08;
      left: 0;
      right: 0;
}

#register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#register-page .card-panel.border-radius-6.register-card {
  margin-left: 0 !important;
}
.apj-reg-btn{
    width: 66%;
}
#register-page .login-form .mt--6 {
    margin-top: 0px;
    margin-bottom: 25px;
}
#register-page .login-form .passw {
    margin-left: 5px;
}

#register-page #register-inner-page input#email {
    width: calc(100% - 3rem);
}
